USE [nerds_feed]
GO
/****** Object:  Table [dbo].[BRANCH]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH](
	[LIB_ID] [int] NOT NULL,
	[L_NAME] [varchar](65) NULL,
	[L_LOCATION] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[LIB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BRANCH] ([LIB_ID], [L_NAME], [L_LOCATION]) VALUES (50001, N'Haverstraw Library', N'NEWARK')
INSERT [dbo].[BRANCH] ([LIB_ID], [L_NAME], [L_LOCATION]) VALUES (50002, N'Earl K Long Library', N'HARRISON')
INSERT [dbo].[BRANCH] ([LIB_ID], [L_NAME], [L_LOCATION]) VALUES (50003, N'Lawrence Main Library', N'HOBOKKEN')
GO
ALTER TABLE [dbo].[BRANCH] ADD  DEFAULT (NULL) FOR [L_NAME]
GO
ALTER TABLE [dbo].[BRANCH] ADD  DEFAULT (NULL) FOR [L_LOCATION]
GO
