USE [nerds_feed]
GO
/****** Object:  Table [dbo].[JOURNAL_VOLUME]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNAL_VOLUME](
	[DOC_ID] [int] NOT NULL,
	[JVOLUME] [int] NULL,
	[EDITOR_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JOURNAL_VOLUME] ([DOC_ID], [JVOLUME], [EDITOR_ID]) VALUES (20001, 1, 21001)
INSERT [dbo].[JOURNAL_VOLUME] ([DOC_ID], [JVOLUME], [EDITOR_ID]) VALUES (20002, 1, 21002)
INSERT [dbo].[JOURNAL_VOLUME] ([DOC_ID], [JVOLUME], [EDITOR_ID]) VALUES (20003, 1, 21003)
GO
ALTER TABLE [dbo].[JOURNAL_VOLUME] ADD  DEFAULT (NULL) FOR [JVOLUME]
GO
ALTER TABLE [dbo].[JOURNAL_VOLUME] ADD  DEFAULT (NULL) FOR [EDITOR_ID]
GO
ALTER TABLE [dbo].[JOURNAL_VOLUME]  WITH CHECK ADD  CONSTRAINT [journal_volume_ibfk_1] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[Document] ([DOC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JOURNAL_VOLUME] CHECK CONSTRAINT [journal_volume_ibfk_1]
GO
ALTER TABLE [dbo].[JOURNAL_VOLUME]  WITH CHECK ADD  CONSTRAINT [journal_volume_ibfk_2] FOREIGN KEY([EDITOR_ID])
REFERENCES [dbo].[CHIEF_EDITOR] ([EDITOR_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JOURNAL_VOLUME] CHECK CONSTRAINT [journal_volume_ibfk_2]
GO
