USE [nerds_feed]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[AUTHOR_ID] [int] NOT NULL,
	[ANAME] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[AUTHOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AUTHOR] ([AUTHOR_ID], [ANAME]) VALUES (11001, N'SIDNEY SHELDON')
INSERT [dbo].[AUTHOR] ([AUTHOR_ID], [ANAME]) VALUES (11002, N'JK ROLWLING')
INSERT [dbo].[AUTHOR] ([AUTHOR_ID], [ANAME]) VALUES (11003, N'SADH GURU')
GO
ALTER TABLE [dbo].[AUTHOR] ADD  DEFAULT (NULL) FOR [ANAME]
GO
