USE [nerds_feed]
GO
/****** Object:  Table [dbo].[CHIEF_EDITOR]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIEF_EDITOR](
	[EDITOR_ID] [int] NOT NULL,
	[ENAME] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[EDITOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHIEF_EDITOR] ([EDITOR_ID], [ENAME]) VALUES (21001, N'J K Rowling')
INSERT [dbo].[CHIEF_EDITOR] ([EDITOR_ID], [ENAME]) VALUES (21002, N'J R R Tolkien')
INSERT [dbo].[CHIEF_EDITOR] ([EDITOR_ID], [ENAME]) VALUES (21003, N'George R R Martin')
GO
ALTER TABLE [dbo].[CHIEF_EDITOR] ADD  DEFAULT (NULL) FOR [ENAME]
GO
