USE [nerds_feed]
GO
/****** Object:  Table [dbo].[BORROWS]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BORROWS](
	[BOR_NUMBER] [int] NOT NULL,
	[READER_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[COPY_NO] [int] NULL,
	[LIB_ID] [int] NULL,
	[BORROW_DATE] [datetime] NULL,
	[RETURN_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BOR_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BORROWS] ([BOR_NUMBER], [READER_ID], [DOC_ID], [COPY_NO], [LIB_ID], [BORROW_DATE], [RETURN_DATE]) VALUES (60001, 90001, 10001, 1, 50001, CAST(N'2020-01-22T00:00:00.000' AS DateTime), CAST(N'2020-04-30T18:46:00.970' AS DateTime))
INSERT [dbo].[BORROWS] ([BOR_NUMBER], [READER_ID], [DOC_ID], [COPY_NO], [LIB_ID], [BORROW_DATE], [RETURN_DATE]) VALUES (60002, 90002, 10001, 2, 50001, CAST(N'2020-01-22T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[BORROWS] ([BOR_NUMBER], [READER_ID], [DOC_ID], [COPY_NO], [LIB_ID], [BORROW_DATE], [RETURN_DATE]) VALUES (60003, 90003, 10001, 3, 50001, CAST(N'2020-01-22T00:00:00.000' AS DateTime), NULL)
GO
ALTER TABLE [dbo].[BORROWS] ADD  DEFAULT (NULL) FOR [READER_ID]
GO
ALTER TABLE [dbo].[BORROWS] ADD  DEFAULT (NULL) FOR [DOC_ID]
GO
ALTER TABLE [dbo].[BORROWS] ADD  DEFAULT (NULL) FOR [COPY_NO]
GO
ALTER TABLE [dbo].[BORROWS] ADD  DEFAULT (NULL) FOR [LIB_ID]
GO
ALTER TABLE [dbo].[BORROWS] ADD  DEFAULT (NULL) FOR [BORROW_DATE]
GO
ALTER TABLE [dbo].[BORROWS] ADD  DEFAULT (NULL) FOR [RETURN_DATE]
GO
ALTER TABLE [dbo].[BORROWS]  WITH CHECK ADD  CONSTRAINT [borrows_ibfk_1] FOREIGN KEY([READER_ID])
REFERENCES [dbo].[READER] ([READER_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BORROWS] CHECK CONSTRAINT [borrows_ibfk_1]
GO
ALTER TABLE [dbo].[BORROWS]  WITH CHECK ADD  CONSTRAINT [borrows_ibfk_2] FOREIGN KEY([DOC_ID], [COPY_NO], [LIB_ID])
REFERENCES [dbo].[COPY] ([DOC_ID], [COPY_NO], [LIB_ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[BORROWS] CHECK CONSTRAINT [borrows_ibfk_2]
GO
