USE [nerds_feed]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[DOC_ID] [int] NOT NULL,
	[ISBN] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOOK] ([DOC_ID], [ISBN]) VALUES (10001, 4515144158299)
INSERT [dbo].[BOOK] ([DOC_ID], [ISBN]) VALUES (10002, 9846919021669)
INSERT [dbo].[BOOK] ([DOC_ID], [ISBN]) VALUES (10003, 3360714981976)
GO
ALTER TABLE [dbo].[BOOK] ADD  DEFAULT (NULL) FOR [ISBN]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [book_ibfk_1] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[Document] ([DOC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [book_ibfk_1]
GO
