USE [nerds_feed]
GO
/****** Object:  Table [dbo].[RESERVES]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVES](
	[RES_NUMBER] [int] NOT NULL,
	[READER_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[COPY_NO] [int] NULL,
	[LIB_ID] [int] NULL,
	[D_TIME] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RES_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RESERVES] ([RES_NUMBER], [READER_ID], [DOC_ID], [COPY_NO], [LIB_ID], [D_TIME]) VALUES (70001, 90001, 10001, 5, 50001, CAST(N'2020-01-21T00:00:00.000' AS DateTime))
INSERT [dbo].[RESERVES] ([RES_NUMBER], [READER_ID], [DOC_ID], [COPY_NO], [LIB_ID], [D_TIME]) VALUES (70002, 90002, 10005, 4, 50001, CAST(N'2020-01-24T00:00:00.000' AS DateTime))
INSERT [dbo].[RESERVES] ([RES_NUMBER], [READER_ID], [DOC_ID], [COPY_NO], [LIB_ID], [D_TIME]) VALUES (70003, 90003, 10007, 5, 50001, CAST(N'2020-01-26T00:00:00.000' AS DateTime))
GO
ALTER TABLE [dbo].[RESERVES] ADD  DEFAULT (NULL) FOR [READER_ID]
GO
ALTER TABLE [dbo].[RESERVES] ADD  DEFAULT (NULL) FOR [DOC_ID]
GO
ALTER TABLE [dbo].[RESERVES] ADD  DEFAULT (NULL) FOR [COPY_NO]
GO
ALTER TABLE [dbo].[RESERVES] ADD  DEFAULT (NULL) FOR [LIB_ID]
GO
ALTER TABLE [dbo].[RESERVES] ADD  DEFAULT (NULL) FOR [D_TIME]
GO
ALTER TABLE [dbo].[RESERVES]  WITH CHECK ADD  CONSTRAINT [reserves_ibfk_1] FOREIGN KEY([READER_ID])
REFERENCES [dbo].[READER] ([READER_ID])
ON UPDATE SET NULL
GO
ALTER TABLE [dbo].[RESERVES] CHECK CONSTRAINT [reserves_ibfk_1]
GO
ALTER TABLE [dbo].[RESERVES]  WITH CHECK ADD  CONSTRAINT [reserves_ibfk_2] FOREIGN KEY([DOC_ID], [COPY_NO], [LIB_ID])
REFERENCES [dbo].[COPY] ([DOC_ID], [COPY_NO], [LIB_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RESERVES] CHECK CONSTRAINT [reserves_ibfk_2]
GO
