USE [nerds_feed]
GO
/****** Object:  Table [dbo].[PUBLISHER]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHER](
	[PUB_ID] [int] NOT NULL,
	[PUBNAME] [varchar](65) NULL,
	[P_ADDRESS] [varchar](65) NULL,
PRIMARY KEY CLUSTERED 
(
	[PUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PUBLISHER] ([PUB_ID], [PUBNAME], [P_ADDRESS]) VALUES (40001, N'MCGRILL', N'Georgia')
INSERT [dbo].[PUBLISHER] ([PUB_ID], [PUBNAME], [P_ADDRESS]) VALUES (40002, N'PENGUIN BOOKS', N'Massachusetts')
INSERT [dbo].[PUBLISHER] ([PUB_ID], [PUBNAME], [P_ADDRESS]) VALUES (40003, N'BLACKWELL PUBLISHERS', N'Mississippi')
GO
ALTER TABLE [dbo].[PUBLISHER] ADD  DEFAULT (NULL) FOR [PUBNAME]
GO
ALTER TABLE [dbo].[PUBLISHER] ADD  DEFAULT (NULL) FOR [P_ADDRESS]
GO
