USE [nerds_feed]
GO
/****** Object:  Table [dbo].[PROCEEDING]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCEEDING](
	[DOC_ID] [int] NOT NULL,
	[C_DATE] [datetime] NULL,
	[C_LOCATION] [varchar](50) NOT NULL,
	[C_EDITOR] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PROCEEDING] ([DOC_ID], [C_DATE], [C_LOCATION], [C_EDITOR]) VALUES (30001, CAST(N'2020-03-05T00:00:00.000' AS DateTime), N'Atlantic City', N'Lauren')
INSERT [dbo].[PROCEEDING] ([DOC_ID], [C_DATE], [C_LOCATION], [C_EDITOR]) VALUES (30002, CAST(N'2012-09-12T00:00:00.000' AS DateTime), N'Newark', N'Christopher')
INSERT [dbo].[PROCEEDING] ([DOC_ID], [C_DATE], [C_LOCATION], [C_EDITOR]) VALUES (30003, CAST(N'2015-02-27T00:00:00.000' AS DateTime), N'Hoboken', N'Harry')
GO
ALTER TABLE [dbo].[PROCEEDING] ADD  DEFAULT (NULL) FOR [C_DATE]
GO
ALTER TABLE [dbo].[PROCEEDING]  WITH CHECK ADD  CONSTRAINT [proceeding_ibfk_1] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[Document] ([DOC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROCEEDING] CHECK CONSTRAINT [proceeding_ibfk_1]
GO
