USE [nerds_feed]
GO
/****** Object:  Table [dbo].[COPY]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COPY](
	[DOC_ID] [int] NOT NULL,
	[COPY_NO] [int] NOT NULL,
	[LIB_ID] [int] NOT NULL,
	[POSITION] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC,
	[COPY_NO] ASC,
	[LIB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[COPY] ([DOC_ID], [COPY_NO], [LIB_ID], [POSITION]) VALUES (10001, 1, 50001, N'1B1A01')
INSERT [dbo].[COPY] ([DOC_ID], [COPY_NO], [LIB_ID], [POSITION]) VALUES (10001, 1, 50002, N'2B1A01')
INSERT [dbo].[COPY] ([DOC_ID], [COPY_NO], [LIB_ID], [POSITION]) VALUES (10001, 1, 50003, N'3B1A01')
GO
ALTER TABLE [dbo].[COPY] ADD  DEFAULT (NULL) FOR [POSITION]
GO
ALTER TABLE [dbo].[COPY]  WITH CHECK ADD  CONSTRAINT [copy_ibfk_1] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[Document] ([DOC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COPY] CHECK CONSTRAINT [copy_ibfk_1]
GO
ALTER TABLE [dbo].[COPY]  WITH CHECK ADD  CONSTRAINT [copy_ibfk_2] FOREIGN KEY([LIB_ID])
REFERENCES [dbo].[BRANCH] ([LIB_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COPY] CHECK CONSTRAINT [copy_ibfk_2]
GO
