USE [nerds_feed]
GO
/****** Object:  Table [dbo].[WRITES]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WRITES](
	[AUTHOR_ID] [int] NOT NULL,
	[DOC_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUTHOR_ID] ASC,
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[WRITES] ([AUTHOR_ID], [DOC_ID]) VALUES (11001, 10003)
INSERT [dbo].[WRITES] ([AUTHOR_ID], [DOC_ID]) VALUES (11002, 10012)
INSERT [dbo].[WRITES] ([AUTHOR_ID], [DOC_ID]) VALUES (11003, 10009)
GO
ALTER TABLE [dbo].[WRITES]  WITH CHECK ADD  CONSTRAINT [writes_ibfk_1] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[BOOK] ([DOC_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WRITES] CHECK CONSTRAINT [writes_ibfk_1]
GO
ALTER TABLE [dbo].[WRITES]  WITH CHECK ADD  CONSTRAINT [writes_ibfk_2] FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[AUTHOR] ([AUTHOR_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WRITES] CHECK CONSTRAINT [writes_ibfk_2]
GO
