USE [nerds_feed]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 20-07-2020 15:43:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[DOC_ID] [int] NOT NULL,
	[TITLE] [varchar](100) NOT NULL,
	[PDATE] [datetime] NOT NULL,
	[PUB_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Document] ([DOC_ID], [TITLE], [PDATE], [PUB_ID]) VALUES (10001, N'INVISIBLE MAN', CAST(N'2002-05-28T00:00:00.000' AS DateTime), 40001)
INSERT [dbo].[Document] ([DOC_ID], [TITLE], [PDATE], [PUB_ID]) VALUES (10002, N'INNER ENGINEERING', CAST(N'2003-02-19T00:00:00.000' AS DateTime), 40002)
INSERT [dbo].[Document] ([DOC_ID], [TITLE], [PDATE], [PUB_ID]) VALUES (10003, N'HEART OF DARKNESS', CAST(N'2004-05-07T00:00:00.000' AS DateTime), 40002)
GO
ALTER TABLE [dbo].[Document] ADD  DEFAULT (NULL) FOR [PUB_ID]
GO
ALTER TABLE [dbo].[Document]  WITH CHECK ADD  CONSTRAINT [pub_id] FOREIGN KEY([PUB_ID])
REFERENCES [dbo].[PUBLISHER] ([PUB_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Document] CHECK CONSTRAINT [pub_id]
GO
